* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'noto sans', sans-serif;
    color: #222222;
}

/* Estilo del nuevo nav  */

a {
    color: aliceblue;
    text-decoration: none;
}

ul {
    list-style: none;
}


/* Estilos de Parafos sorido0*/
p {
    font-size: 1em;
    line-height: 1.5;
    text-align: justify;
    margin: 25px;
}

/* Estilos de Parafos sorido0*/

.nav-main ul {
    display: flex;
}

.nav-main ul li {
    padding: 6px;
}

.nav-main ul li a:hover {
    border-bottom: 2px solid #ffffff;
}

.nav-main ul.nav-menu {
    flex: 1;
    margin-left: 20px;
}

.menu-btn {
    display: none;
}


@media screen and (max-width: 600px) {

    .menu-btn {
        display: block;
    }

    .nav-main ul.nav-menu {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: #2f3640;
        height: 100%;
        padding: 20px;
        opacity: .9;
        transform: translatex(-500px);
        transition: transform .5s ease-in-out;
    }

    .nav-main ul.nav-menu-derecha {
        margin-right: 20px;
    }

    .nav-main ul.nav-menu.show {
        transform: translateX(-20px);
    }

    .nav-main ul.nav-menu li {
        padding: 20px;
        font-size: 17px;
    }

    .cards-banner-one .content {
        width: 80%;
        padding: 60px 20px;
        justify-content: flex-end;
    }
}


@media screen and (max-width: 300px) {

    .cards-banner-one .content {
        width: 100%;
        padding: 60px 20px;
        justify-content: flex-end;
    }
}

.showcase {
    width: 100%;
    height: 550px;

    padding: 50px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

}

.btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 10px;
    background: #262626;
    color: #ffffff;
    font-size: 15px;
    border: 1px solid #ffffff;
    margin: 10px 0;
    align-items: flex-end;
}

.btn-verde:hover {
    opacity: .6;
    background: #000;
}

.showcase h2 .showcase p {
    margin-bottom: 10px;
}

/* fin  de los estilos del nuevo nav  */

/* inicio play grid sorido0 */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 5px;
    margin-top: 20px;
}

/* fin play grid sorido0  */



/* las clases reutilizables*/

.btn-verde {
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
    font-family: 'montserrant', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #55efc4;
    padding: 1rem 2rem;
    display: inline-block;
    align-self: center;
    border-radius: 45px;
    -webkit-border-radius: 45;
    -moz-border-radius: 45;
    -ms-border-radius: 45;
    -o-border-radius: 45;
}

.frase {
    text-align: center;
    color: black;
}

/*acaban los reutilizables*/

/*comienza primera seccion*/

.primera-seccion {
    background: linear-gradient(rgba(68, 13, 13, 0.35), rgba(38, 2, 2, 0.445)), url(qqq.jpg) no-repeat center/cover;
    background-attachment: fixed;
    height: 100vh;
    color: white;
}


#barra-navegacion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#logo {
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
    font-stretch: wider;
}

nav>a {
    text-decoration: none;
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
}

nav>a:hover {
    color: #44bd32;
}

#primera-seccion-contenido {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    text-align: center;

}

#primera-seccion-contendido>p {
    text-transform: capitalize;
    font-family: 'montserrant', sans-serif;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

#primera-seccion-contendido>hr {
    width: 4.5rem;
    border-color: #44bd32;

}

#primera-seccion-contendido>h1 {
    font-family: 'montserrant', sans-serif;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 2.5rem;

}

/*termino de la primera seccion*/

/*Comienza la segunda seccion*/

#segunda-seccion {
    background-color: rgb(0, 0, 0);
    min-height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
}

#segunda-seccion>p {
    color: #fff;
}

.ubicacion {
    text-align: center;
}

.redes {
    text-align: center;
}

/*termina segunda seccion*/

/*tercera seccion*/
#tercera-seccion {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 0.5em;
}

#titulo {
    margin-bottom: 2rem;

}

#titulo>h2 {
    text-transform: uppercase;
    text-align: center;
    font-family: 'montserrant', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
}

#titulo>hr {
    width: 100%;
    border-color: rgb(28 28 28 / 90%);
}



#container-tercera-seccion {
    text-align: center;
    flex-direction: row;
}

.img-tercera {
    padding-right: 1rem;
    padding-left: 1rem;

}


.container-img>h6 {
    text-align: center;
    font-family: 'montserrant', sans-serif;
    font-size: 1.3rem;
    font-weight: 200;
    margin-bottom: 1rem.5rem;
}

.container-img p {
    margin-bottom: 2rem;

}

.container-img>img {
    max-width: 70%;
}

/*termina tercera seccion sorido0*/


/*comienza cuarta seccion*/


#cuarta-seccion {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.905)), url(portada.jpg) no-repeat center/cover;
    background-attachment: fixed;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
}

#contenedor {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.mitad {
    width: 50%;

}

#cuarta-seccion-der>h3 {
    text-transform: uppercase;
    font-family: 'montserrant', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

#cuarta-seccion-der>hr {
    width: 4rem;
    border-color: #44bd32;
    margin-left: 0;
    margin-bottom: 3rem;

}

#cuarta-seccion-der>p {
    margin-bottom: 4rem;

}

/*acaba 4ta seccion*/
/*comienza la quinta seccion*/
#quinta-seccion {

    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;

}

#quinta-seccion-izquierda {
    flex: 1;
}

#quinta-seccion-izquierda>h3 {

    text-transform: uppercase;
    font-family: 'montserrant', sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 1.5rem;
    text-align: center;


}

#quinta-seccion-izquierda>p {
    margin-bottom: 4rem;
}

#btn {
    margin-top: 1.1em;
}

#quinta-seccion-derecha {
    flex: 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px 10px;
    justify-items: center;
    align-items: center;
}

#quinta-seccion-derecha>img {
    width: 90%;

}

#quinta-seccion-derecha>hr {
    width: 4.5rem;
    border-color: #44bd32;
    margin-left: 0;
    margin-bottom: 3rem;
}

/*termina quinta*/



.titulo-final {
    text-align: center;
    justify-content: center;
}


#historia {
    text-align: center;
    font-weight: 900;
}

.nuestroinstituto>p {
    text-align: center;
    font-family: 'montserrant', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    margin-left: 50px;
    margin-right: 50px;
}

.mision>ul {
    text-align: center;
    font-family: 'montserrant', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    margin-left: 50px;
    margin-right: 50px;
}

#misioncom {
    text-align: center;
    font-weight: 900;
}

#misioncom>h4 {
    text-align: center;
}

.vision {
    text-align: center;
    font-family: 'montserrant', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    margin-left: 50px;
    margin-right: 50px;
}

#visioncom {
    text-align: center;
    font-weight: 900;
}

.titulo-final>h3 {
    text-align: center;
    justify-content: center;
}

/**/

.titulo-final {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
}

/**/

/*video*/
.video {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-top: 0.5em;
    padding-bottom: 0.1em;
}

.youtube {
    width: 100%;
    height: 400px;
    margin: 30px auto;
}

.video>h1 {
    text-align: center;
    font-family: 'montserrant', sans-serif;
    font-size: 2.5rem;
    font-weight: 200;
    margin-bottom: 1rem.5rem;

}

/*inicio css congreso*/

.congreso {
    text-align: center;
}

.congresob {
    text-align: center;
}

.congreso>img {
    width: 400px;
    height: 300px;
}

.congresob>img {
    width: 400px;
    height: 300px;
}


.visita-congreso>h4 {
    text-align: center;
}


.congresoc>img {
    width: 400px;
    height: 300px;
}

/*fin css congreso*/

/*inicio css dia independecia*/

.independencia {
    text-align: center;
}

.independenciab {
    text-align: center;
}

.independencia>img {
    width: 400px;
    height: 300px;
}

.independenciab>img {
    width: 400px;
    height: 300px;
}


.dia-independencia>h4 {
    text-align: center;
}


.independenciac>img {
    width: 400px;
    height: 300px;
}


/*FIN css dia independecia*/


/*Esto es lo nuevo Ruddy Araujo*/

.inaguracion {
    text-align: center;
}

.inaguracionb {
    text-align: center;
}


.inaguracion>img {
    width: 400px;
    height: 300px;

}


.inaguracionb>img {

    width: 400px;
    height: 300px;

}

.inaguracionc {
    text-align: center;

}

.inaguracionc>img {
    width: 400px;
    height: 300px;
}

.enfermero {
    text-align: center;
}

.enfermerob {
    text-align: center;
}

.enfermero>img {
    width: 400px;
    height: 300px;

}

.enfermerob>img {
    width: 400px;
    height: 300px;
}

.enfermeroc {
    text-align: center;
}

.enfermeroc>img {
    width: 400px;
    height: 300px;

}

/*FIN css inauguracion y dia enfermera*/



/* footer inicio */

/*empieza footer*/

footer {
    background-color: black;
    color: white;
    text-align: center;
}

.footer-contacto {
    grid-area: header;
    align-items: center;
    justify-content: center;
}

.footer-dirrecion {
    grid-area: este;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.copyR {
    grid-area: footer;
    align-items: center;
    justify-content: center;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'header este'

        'footer footer';
    gap: 10px;
    padding: 10px;
    text-align: center;
}


.footer-contacto>p {
    text-align: center;

}

.footer-dirrecion>p {
    text-align: center;
}

/*footer Final*/

/**/
@media screen and (max-width: 600px) {

    iframe {
        width: 100%;
        height: 40%;
    }
}

iframe {
    max-width: 450px;
}

/**/


.slider{
	width: 75%;
	margin:auto;
	height: 670px;
	overflow: hidden; 
}

.slider ul{
	padding: 0;
	display: flex;
	width: 400%;
    

	animation: slider 20s infinite;
}

.slider li{
	width: 100%;
    
	list-style: none;
}

.slider li img{
	width: 100%;
	display: block;
    height: 600px;
}

@keyframes slider{
	0% {margin-left: 0;}
	20% {margin-left: 0;}

	25% {margin-left: -100%;}
	45% {margin-left: -100%;}

	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}

}

.galeria h2{
    text-transform: uppercase;
    text-align: center;
    font-family: 'montserrant', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    
}

.galeria h4{
    text-transform: uppercase;
    text-align: center;
    font-family: 'montserrant', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    
}

